/* ===============================================================
                GLOBAL CONFIGURATION
================================================================== */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
img {
	max-width : 100%
}
html, body {
	margin : 0;
	padding : 0;
	width : 100%;
	height : auto;
	background-color : lightgreen;	
	background-attachment: scroll;
    background-position: left top;
    background-repeat: repeat;
	margin : 0px 0px 0px 0px;
    font-size : 18px;
    font-family : Arial;
}

/* ===============================================================
                    MENUBAR/HEADER
==================================================================  */
header {
    top: 0;
    width: 100%;
    height: 50px;
    z-index : 7000;	
  	background-color : rgba(0,0,255,1); 
	-wekit-transition : all 1s;
	-moz-transition : all 1s;
	-o-transition : all 1s;
	transition : 1s;
	margin-bottom : 30px;
	box-shadow : 0px 0px 5px #000000;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
}

header .name {
    margin : 0 0 0 10px;
	padding : 2px 5px;
}

header ul {
   float : right;
   margin : -33px 20px 0 30px;
   padding-top : 2px;    
   height : 50px;    
}

header ul li {
   float: left;
   background-color: #ffa500;
   height : 35px;
   margin: 0px 2px 0 2px;
   color: #F00;
   list-style-type: none;
}
header li a {
   color : #F00;  
   text-decoration : none; 
   background-color: orange; 
   height : 30px;
   padding-left : 5px;
   padding-right : 5px;
   padding-top : 20px;
   padding-bottom : 15px;
}
header li a:hover {
	color : #F05;
	background-color : #FFFF99;
}

/* ===============================================================
                    ISI
==================================================================  */
.body {
    margin : 50px auto 50px auto;
}
.body a {
	color : red;
}
h1 {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
	box-shadow : 0px 0px 5px #000;
    transition: background-color .2s ease;
    font-size : 48px;
	padding : 0 0 0 30;
	margin-bottom : 50px;
	font-family : Exo;
	color : #000000;
}

section {
	align : center;
	margin : auto;
}

/* HOME PAGE REMINDERS & ACTIVE TASK */

.reminder, .list, .profiles, .form, .accounts {
	width : 800px;
	height : 400px;
	border-radius : 10px;
	background : rgba(0,0,0,0.5);
	margin : auto auto 10px auto;
	padding : 15px;
}
.reminder {
	text-align : center;
}

.active-report {
	width : 800px; 
	height : 50px;
	border-radius : 10px;
	background : rgba(0,0,0,0.5);
	margin : auto;
	text-align : center;
	padding : 10px;
}

/* LIST OF REPORTS */

.list {
	text-align : center;
}

.list table th, .list table td {
	border: 2px solid transparent;
    background: rgba(0,0,0,0.3);
    border-collapse: collapse;
    padding: 5px;
}

/* REPORT FORMS */

/* PROFILES */

/* SCORING PAGE (ADMIN) */

.scoring-temp {
	width : 1000px;
	height : 400px;
	background : rgba(0,0,0,0.5);
	margin : auto;
	margin-bottom : 10px;
	text-align : center;
	list-style-type : none;
}
.scoring-temp ul {
	float : left;
	padding : 0px;
	height : 100%;
	background : red;
	list-style-type : none;
	margin : 0px;
}
.scoring-temp ul li {
	background : rgba(0,0,0,0);
	display : block;
}
.scoring-temp ul li:hover {
	background : rgba(0,0,0,0.5);
}

.accounts {
	width : 1000px;
}
/* ======================================================
                        FOOTER
========================================================= */

footer {
	bottom : 0;
	left : 0;
	margin-left : 0px;
	margin-right : 0px;
	min-width : auto;
	width : 100%;
	height : auto;
	background-color : linear-gradient(#000000, #222222);
	box-shadow : 0px 0px 12px 1px #222222;
	z-index : 10;
}
.foot-temp{
		z-index	: 9990;
		margin-left : auto;
		margin-right : auto;
		height : auto;
		background: linear-gradient(#000000, #222222);
		padding : 0px 20px;
	}
		.foot-temp img {
			float : left;
			margin : 25px auto auto 27%;
		}
	.foot-tab{
		display : inline-block;
		text-align : center;
		vertical-align : top;
		margin : 20 0 20 30;
		z-index : 9990;
		min-height	: 60px;
		line-height : 20px;
		color : white;
		flex-flow: row wrap;
		font-family : Montserrat;
	}
		.foot-tab img{
			margin-left : auto;
			margin-right : auto;
		}
		.foot-temp p, .foot-tab p{
			color : #FFFFFF;
			font-family : "Montserrat";
			font-size : 14px;
			display : inline;
			line-height : 15px;
		}

